   
.App  {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black; 
} 
.todo-block{
  width: 500px; 
  /* background-color: #1a1d22; */
  padding: 1rem;
}
.todo-headline{
  text-align: center;
  color: rgb(186, 186, 186)
}
 
